<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Risk Management</legend>
    
    <!-- Button Drop Down -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="buttondropdown">Project Name</label>
      <div class="col-md-5">
        <div class="input-group">
          
            <button type="button" (click)="postProj()" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Open/Create
            </button>
            <input id="typeahead" type="text" name="ProjectSelection" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [ngModelOptions]="{standalone: true}"/>
            <ul>
                <li *ngFor="let row of rows; let i = index">
                 <!-- {{i}}--> {{row.projectName}}
                </li>
            </ul>
        </div>
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Risk Name</label>  
      <div class="col-md-5">
      <textarea id="riskName" name="textarea" type="text" class="form-control">insert Risk Name here </textarea>
        
      </div>
    </div>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Risk Description</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="descriptionText" name="textarea">Insert Risk Description here</textarea>
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="propbality">Select Propability</label>
      <div class="col-md-5">
        <select id="probability" name="probability" class="form-control">
          <option value="1">Option one</option>
          <option value="2">Option two</option>
        </select>
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectcriticality">Select criticallity</label>
      <div class="col-md-5">
        <select id="selectcriticality" name="selectcriticality" class="form-control">
          <option value="1">Option one</option>
          <option value="2">Option two</option>
        </select>
      </div>
    </div>
    
    </fieldset>
    </form>
    

  
